{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>
<ul>
    <li><a href="/platzi/intro/">Dash</a></li>
    <li><a href="/platzi/intro/signup">Crear usuario</a></li>
    <li><a href="/platzi/intro/jobs/add">Crear JoB</a></li>
</ul><br>
<a href="/platzi/intro/logout">Logout</a>
{% endblock %}

